LIVEKIT_URL = 
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

NEXT_PUBLIC_BACKEND_URL=https://unicam.discretal.com/ai-led-interview
# NEXT_PUBLIC_BACKEND_URL= http://backend:8048/ai-led-interview
NEXT_PUBLIC_LIVEKIT_URL=

